<h3 class='border-bottom pb-2 mb-4'>My Documents</h3>
<%= link_to "New Document", new_document_path, class: "btn btn-light nav-link" %>
<div class="list-group">
  <% @documents.each do |doc| %>
    <div class='list-group-item'>
      <div class='row'>
        <div class="col-sm-5">

            <%= link_to doc.name.truncate(30), document_path(doc) %>
        </div>

        <div class="col-sm-5">
          <%= doc.description.truncate(30) %>
        </div>
        <div class="col-sm-2">
          <small><%= time_ago_in_words(doc.created_at) %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
