
<% if obj.errors.any? %>
  <ul class="list-group">
    <% obj.errors.full_messages.each do |msg| %>
      <li class="red border-none list-group-item-danger list-group-item"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
